body {
    background-color: peru;
}
.highlight {
  font-family: 'Creepster', cursive;
  color: #ff4325;
}
.data {
  font-family: verdana;
  color: #1010e8;
}
header {
  width: auto;
  height: auto;
  background-color: cornflowerblue;
  border: 2px solid black;
  border-radius: 24px;
}

img.mainFIsh {
  display: block;
  margin: 10px auto 10px auto;
  border-radius: 5em 10em 5em 10em / 10em 10em 10em 10em;


}
img.notFound {
  width: auto;
}
li {
  display: inline;
  margin-right: 105px;
  margin-left: 20px;
}
h1 {
  text-align: center;
  font-size: 4em;
  font-family: 'Griffy', cursive;
}

table {
  width: 80%;
  margin: auto;
  margin-top: 5px;
  border: 2px solid black;
  background-color: rgba(255, 235, 90, 0.9);
}

th {
  font-size: 1.25em;
}

td {
  border: 1px solid black;
  text-align: center;
  font-size: 2em;
}
